/.vscode/
/venv/
/.ipynb_checkpoints/
/.idea/
/*.ipynb
/note/.ipynb_checkpoints/
/debug.log
/study/KNN/ml/
/study/KNN/cf/
/machine_learning/big_homework/checkpoint/
/machine_learning/big_homework/Cifar10/
/machine_learning/big_homework/__pycache__/
/test/
/note/tensorflow笔记/.ipynb_checkpoints/
